# === BASE CONFIGURATION ===
# Project name for Docker Compose
COMPOSE_PROJECT_NAME=step-ca

DOCKER_STEPCA_INIT_NAME="Step CA"
DOCKER_STEPCA_INIT_DNS_NAMES=localhost,step-ca-management,127.0.0.1
DOCKER_STEPCA_INIT_PASSWORD=bSyIfWL5gNyKgtQ4Fwv7g0heD1S4B4gH
DOCKER_STEPCA_INIT_PASSWORD_FILE=/run/secrets/passwd
DOCKER_STEPCA_INIT_REMOTE_MANAGEMENT=false